---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Software engineer, Node.js & Express.js member, and open source volunteer"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h2>Who is Mert Can Altin?</h2>
	
	<p>
		Hello there! My name is Mert Can Altin, and I'm a member of the Node.js & Express.js community.
	</p>

	<p>
		I am also a passionate open source volunteer.
	</p>

	<p>
		I am a software engineer who builds and maintains frameworks using Node.js.
	</p>

	<h2>Memberships</h2>
	
	<ol>
		<li><a href="https://github.com/openjs-foundation">OpenJS Foundation</a> CPC member</li>
		<li><a href="https://github.com/nodejs/node">Node.js</a> member</li>
		<li><a href="https://github.com/expressjs/express">Express.js</a> member</li>
	</ol>

	<h2>Links</h2>
	
	<ul>
		<li><a href="https://github.com/mertcanaltin">GitHub profile</a></li>
		<li><a href="https://x.com/mecaltin">X profile</a></li>
	</ul>
</Layout>
