---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<img src="../public/github-image.png">
			<h1>I'm Mert!</h1>
			<p>
				Hello there! My name is Mert Can Altin, and I'm a member of the Node.js & Express.js

I am also a passionate open source volunteer 

I am a software engineer who builds and maintains frameworks using Nodejs
			</p>
			
	
		</main>
		<Footer />
	</body>
</html>
